{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="row">
    <div class="col1">
        <div class="card">
            <h3>
                This web app was created as a project of Software Engineering Module of Jacobs University Bremen. This
                website in general can be considered as Covid Management System. This Project was created on sprint
                basis.
                <br> <br> <u> Sprint01 </u> By:<br>1.
                Suraj Giri <br> 2. Abhishek Prasad Ojha...
            </h3>
        </div>
    </div>
</div>


</div>



{% endblock %}