{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">

    <div class="card2">

        <h2>Please select your respective login type</h2>

    </div>

</div>

<div class="row">

    <div class="col1">

        <div class="card bottomsp">

            <h2>Visitor</h2>

            <p>You can login as a visitor here</p>

            <a href="{{ url_for('visitorLogin') }}">

                <button>

                    <p>Login</p>

                </button>

            </a>

        </div>

        <div class="card bottomsp">

            <h2>Place</h2>

            <p>You can login for a place here</p>

            <a href="{{ url_for('placeLogin') }}">

                <button>

                    <p>Login</p>

                </button>

            </a>

        </div>

    </div>



    <div class="col1">

        <div class="card bottomsp">

            <h2>Agent</h2>

            <p>You can login for as an agent here</p>

            <a href="{{ url_for('agentLogin') }}">

                <button>

                    <p>Login</p>

                </button>

            </a>

        </div>

        <div class="card bottomsp">

            <h2>Hospitals</h2>

            <p>You can login as Hospitals here</p>

            <a href="{{ url_for('hospitalLogin') }}">

                <button>

                    <p>Login</p>

                </button>

            </a>

        </div>

    </div>





</div>

</div>

</div>



<!-- <footer class="footer">

    <script language="javascript" type="text/javascript" src="../footer.txt"></script>

</footer> -->

{% endblock %}