{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="row">
        <div class="card2">
            <h2>Please Select your respective registration type</h2>
        </div>
</div>
<div class="row">
    <div class="col1">
        <div class="card">
            <h2>Visitor</h2>
            <p>You can register as a visitor here</p>
            <a href="{{ url_for('visitorRegister') }}">
                <button>
                    Register
                </button>
            </a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <h2>Place</h2>
            <p>You can register for a place here</p>
            <a href="{{ url_for('placeRegister') }}">
                <button>
                    Register
                </button>
            </a>
        </div>
    </div>


</div>
</div>
</div>
<!-- </div>
</div> -->

<!-- <footer class="footer">
    <script language="javascript" type="text/javascript" src="../footer.txt"></script>
</footer> -->

{% endblock %}